<%= render 'layouts/header'%>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                <a class="navbar-brand" href="<%= root_path %>"><span class="fw-bolder text-primary">Gossips</span></a>


                    <%= render 'layouts/navbar'%>

                </div>
            </nav>

    <div class="container px-5 my-5">
      
     <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline"><%= @gossip.author %> wrote<br></span></h1>
     <img class="tchat" <%= image_tag 'tchat.png', alt: 'Description de l\'image' %>     


      <div class="fs-3 fw-light text-muted"><%= @gossip.content %></div>

      </p>
      <hr>

      <h2>Commentaires :</h2>
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <div class="card mb-2">
            <div class="card-body">
              <p class="card-text"><%= comment.content %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Aucun commentaire pour le moment.</p>
      <% end %>
      
      <h3>Ajouter un commentaire :</h3>
      <%= form_with(model: [ @gossip, CommentModel.new ], url: gossip_comments_path(@gossip), local: true) do |form| %>
        <div class="form-group">
          <%= form.label :content, "Votre commentaire :" %>
          <%= form.text_area :content, rows: 4, class: "form-control" %>
        </div>
        <%= form.submit "Envoyer", class: "btn btn-primary" %>
      <% end %>


      <%= link_to "Editer le potin", edit_gossip_path(@gossip), class: "btn btn-warning mt-4" %>
      <%= link_to "Retour à la liste des potins", root_path, class: "btn btn-secondary mt-4" %>

    </div>

</main>
<%= render 'layouts/footer'%>



